compile_commands.json
doc/cpp2rst_generated
build
build.*
build_*
run_tests*
*.pyc
nrg
nrgcmpl*
nrg.gdb
nrgexec
TODO*
.vscode
README.warts
nrg-framework*
test/test_long/README*
.DS_Store
.AppleDouble
